version: '3'
services:
  spy-pixel:
    image: techbolt/spy-pixel:latest # image and version
    ports:
      - 80:80
    volumes:
      - ./app/:/app # mapping to the local directory
    working_dir: /app 
    container_name: spy-pixel # name for the container
    restart: unless-stopped
